:root{
    --fuenteHeading: 'Fira Sans Condensed', sans-serif;
    --fuenteP: 'Spectral', serif;
    --primarioColor: #784d3c;
    --blanco: #ffffff;
    --negro: #000;
    --colorBorder: #e1e1e1;

}
html{
    box-sizing: border-box;
    font-size: 62.5%;           /* 1rem = 10px*/

}
*,*:before, *:after{
    box-sizing: inherit;
}
body{
    font-family: var(--fuenteP);
    font-size: 1.6rem;
    line-height: 2;
}

/** Globales **/

.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
a{
    text-decoration: none;
    
}
h1, h2, h3, h4{
    font-family: var(--fuenteHeading);
    line-height: 1.2;

}
h1{
    font-size: 4.8rem;
    color: var(--blanco);
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2rem;
}
img{
    max-width: 100%;
}

/** Utilidades**/

.no-margin{
    margin: 0;
} 
.no-padding{
    padding: 0;
}
.centrar-texto{
    text-align: center;
}

/* Header*/

.header{
    background-image: url(../img/banner.jpg);
    height: 50rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  /* Los valores center center se aplican por que un background-imagen se debe posicionar vertical y horizontalmente*/
}
.header__texto{
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
}
@media (min-width: 768px) {
    .header__texto{
        margin-top:15rem;
    }
}

/* Barra Navegación*/

@media (min-width: 768px) {     
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
}
.logo{
    color: var(--blanco);
    margin-top: 2rem;
}
.logo__nombre{
    font-weight: normal;
}
.logo__bold{
    font-weight: bold;
}
@media (min-width: 768px) {
    .navegacion{
        display: flex;
        flex-basis: calc(33.3% - 1rem);
        justify-content: space-around;
    }
    
}

.navegacion__enlace{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
  

}

/** Contenido Principal **/

@media (min-width: 768px) {
    .contenido-principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}

/** Contenido Principal- Entrada blog **/
.entrada{
    border-bottom: 1px solid var(--colorBorder);
    margin-bottom: 2rem;
}
.entrada p{
    font-weight: normal;
}
.entrada:last-of-type{
    border: none;
    margin-bottom: 0;

}
.boton{
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    border: none;

}
@media (min-width:768px) {
    .boton{
        display: inline-block;
        margin: 2rem;
    }
}
.boton:hover{
    cursor: pointer;
}
.boton--primario{
    background-color: var(--negro);

}
.boton--secundario{
    background-color: var(--primarioColor);
}
.cursos{
    list-style-type: none;
}
.widget-curso{
    border-bottom: 1px solid var(--colorBorder);
    margin-bottom: 2rem;
}
.widget-curso:last-of-type{
    border: none;
    margin-bottom: 0;
}
.widget-curso__label{
    font-family: var(--fuenteHeading);
    font-weight: bolder;
}
.widget-curso__info{
    font-family: var(--fuenteHeading);
    font-weight:normal;
}
.widget-curso__label, 
.widget-curso__info{
    font-size: 2rem;
}
.cursos__titulo{
    line-height: 1.2;
}

/** Footer */
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--negro);
    padding-bottom: 3rem;
    margin-top: 2rem;
}
.footer__logo{
    color: var(--blanco);
}

/** Página Sobre Nosotros **/

@media (min-width: 768px) {
    .sobre-nosotros{
        display: flex;
        justify-content: space-between;
      
    }
    .sobre-nosotros__imagen,
    .sobre-nosotros__texto{
        flex-basis: calc(50% - 2rem);
    } 
}

/** Página cursos **/

.curso{
    padding: 3rem 0;
    border-bottom: 1px solid var(--colorBorder);
}
@media (min-width: 768px) {
    .curso{
        display:grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
}
.curso:last-of-type{
    border: none;
}

.curso__label{
    font-family: var(--fuenteHeading);
    font-weight: bolder;
}
.curso__info{
    font-family: var(--fuenteHeading);
    font-weight:normal;
}
.curso__label, 
.curso__info{
    font-size: 2rem;
}

/** Página Contacto **/

.contacto-bg{
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
}

/** Formulario */

.formulario{
    background-color: var(--blanco);
    margin: -5rem auto 0 auto;
    text-align: center;
    width: 95%;
    padding: 5rem;
}

.campo{
    display: flex;
    margin-bottom: 1rem;
    
}
.campo__label{  
    flex: 0 0 9rem;

}
.campo__field{
    flex: 1;
    border: 1px solid var(--colorBorder);
}
.campo__field--textarea{
    height: 20rem;
    width: 95%;
}